<h1>{{ title }} </h1>

<app-user-card
  [name]="'JM'"
  [role]="'Angular Developer'"
  [level]="'Junior'">
</app-user-card>

<app-product-card
  [productName]="'Laptop'"
  [productPrice]="200">
</app-product-card>

<app-user-card
  [name]="'Alex'"
  [role]="'Backend Developer'"
  [level]="'Junior'">
</app-user-card>

<app-product-card
 [productName]="'Laptop'"
 [productPrice]="200">
</app-product-card>

<app-product-card
 [productName]="'Phone'"
 [productPrice]="150">
</app-product-card>

<app-product-card
 [productName]="'Keyboard'"
 [productPrice]="50">
</app-product-card>
