<h1>{{ title }}</h1>

<h1>CRUD Task App</h1>

<input [(ngModel)]="task" placeholder="New Task" />

<button (click)="addTask()">Add Task</button>

<ul>
  <li *ngFor="let item of tasks; let i = index">
    <div *ngIf="editingIndex !== i">
      {{ item }}

      <button (click)="startEdit(i, item)">Edit</button>

      <button (click)="removeTask(i)">Delete</button>
    </div>

    <div *ngIf="editingIndex === i">
      <input [(ngModel)]="editedTask" />

      <button (click)="saveEdit(i)" [disabled]="!editedTask.trim()">Save</button>

      <button (click)="cancelEdit()">Cancel</button>
    </div>
  </li>
</ul>
